#canvas {
    border: 5px solid blue;
    height: 91%;
    width: 99%;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50rem;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#controls button{
    font-size:x-large;
}

#controls input{
    font-size:x-large;
    width: 80px;
}